body {
  background-color: rgb(37, 19, 61);
  color: white;
  justify-content: center;
  text-align: center;
}

.App {
  text-align: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  margin: auto;
}

.session {
  border: 5px solid white;
  height: 250px;
  width: 350px;
  border-radius: 30%;
  margin: 100px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 65px;
}

.lengthTexts {
  display: flex;
  justify-content: space-between;
}

.breakLengthContainer {
  margin-right: 40px;
}

.breakLengthContainer, .sessionLengthContainer {
  align-items: center;
}


.title {
  text-align: center;
  margin: 100px;
  font-size: 50px;
}

.buttons {
  height: 100px;
  width: 200px;
  margin: auto;
  margin-top: 100px;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid white;
  transform: rotate(90deg);
  margin-left: 20px;
}
.rect1 {
  width: 0;
  height: 0;
  border-top: 25px white solid;
  border-bottom: 25px white solid;
  border-left: 8px white solid;
  margin: 0px;
}
.rect2 {
  width: 0;
  height: 0;
  border-top: 25px white solid;
  border-bottom: 25px white solid;
  border-left: 8px white solid;
  margin-left: 5px;
}
.pause {
  display: flex;
}

.square {
  border: 2px solid white;
  background-color: white;
  color: black;
  height: 50px;
  width: auto;
  border-radius: 50%;
  margin-left: 15px;
}

.reset {
  margin: 15px;
  font-size: 15px;
}

.display {
  width: 300px;
  height: 100px;
  background-color: rgb(37, 58, 104);
  margin: auto;
  margin-bottom: -105px;
  color:white;
}

.breakLengthTimerContainer {
  display: flex;
}
.BLTimer {
  display: flex;
  background-color: white;
  height: 50px;
  width: 100px; 
  margin-right: 10px;
}

.SLTimer {
  display: flex;
  background-color: rgb(255, 255, 255);
   height: 50px;
  width: 100px;
}

.upperTriangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
  transform: rotate(0deg);
  margin-right: 10px;
}

.arrowStem {
  width: 0;
  height: 0;
  border-left: 5px solid white;
  border-right: 5px solid white;
  border-bottom: 30px solid white;
  margin-left: 10px;
}

.lowerTriangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
  transform: rotate(180deg);
  margin-right: 10px;
}

.sessionLengthTimeContainer {
  display: flex;
}

.SLTimer {
  margin-right: 10px;
}